#join{
    /* padding: 25px 0 10px; */
    background: #efefef;
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
body{
    overflow-x: hidden;
}
.footer-row{
   width: 80%; 
   margin: 0 auto;
   display: flex;
   justify-content:space-between ;
   flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align:right;
    
}

.footer-row h1{
    margin: 10px 0;
    font-size:1.5rem;
}
.footer-row p{
  line-height: 35px;
}
.footer-left .fa{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}

.social .fab{
    height:40px;
    width: 40px;
    font-size: 25px;
    line-height: 40px;
    border:1px solid #009688;
    text-align: center;
    margin: 20px 5px 0;
    color: #009688;
    transform: 0.5s;
}

.social .fab:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
    cursor: pointer;
}
